[flake8]
# E303: Too many blank lines is ok with me
# F401, F403 Ignore unused and * imports in __init__.py
# F405: May be undefined. Pity, because nice, but want star imports
# E402: Module level import not at top of file 
ignore = E303, F405, F401 __init__.py, F403 __init__.py, E402 conftest.py
# Default of 80 somewhat pedantic
max-line-length = 96
exclude = venv,.venv,contrib
