[submodule "contrib/geographiclib"]
	path = contrib/geographiclib
	url = https://github.com/geographiclib/geographiclib
	branch = release
[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt
